body {
    background-color: #ffffeb;
}

.container {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 1000px;
    min-height: 700px;
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #ffffff;
    background-image: url('img/bg.jpeg');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-sizing: border-box;
    padding-top: 250px;
}

.createUserInput {
    display: block;
    background-color: rgba(255, 255, 255, .8);
    padding: 30px;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.regInput,
button {
    display: block;
    width: 180px;
    height: 40px;
    padding-left: 10px;
    margin: 5px;
    background-color: #c5e2e6;
    color: #173f5f;
    box-sizing: border-box;
    border: 1px solid #7ca3c4;
}

button {
    background-color: #98caa0;
    border: none;
    border-radius: 0px;
    border-bottom: 5px solid #173f5f;
    text-transform: uppercase;
}

button:hover {
    border-bottom: 5px solid #882929;
    color: #882929;
}

#userList {
    display: block;
    background-color: rgba(255, 255, 255, .8);
    padding: 30px;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col {
    flex-basis: 200px;
    border: 1px solid #173f5f;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.tabTitle {
    background-color: #c5e2e6;
    color: #173f5f;
    text-transform: uppercase;
}

.dellBtn {
    width: 150px;
    margin: 5px;
}

.saveBtn {
    width: 150px;
    margin: 5px;
    background-color: #adc8e6;
    border-bottom: 5px solid #173c5f;
}

.userInput {
    display: block;
    width: 150px;
    height: 40px;
    padding-left: 10px;
    margin: 5px;
    background-color: #ffffff;
    color: #173f5f;
    box-sizing: border-box;
    border: 1px solid #7ca3c4;
}
#errorText {
    color: red;
    display: none;
}